header.header
  .container
    .header__inner 
      a.logo.header__logo(href="index.html") 
        img(src="./img/logo.svg", alt="")
        |Personal
      nav.nav.header__nav 
        ul.nav__list 
          li.nav__item
            a.nav__link(href="about.html") About
          li.nav__item
            a.nav__link(href="services.html") Services
          li.nav__item
            a.nav__link(href="pricing.html") Pricing
          li.nav__item
            a.nav__link(href="blog.html") Blog
        a.button.button-o(href="#") Contact