/* -------- Font setting --------*/
$ff: "Epilogue", sans-serif;
$fz: 16px;
$fc: #fff;

/* -------- Interface setting --------*/
$container-width: 1170px;
$container-pading: 15px;
$body-color: #ffffff;

/* -------- Color's --------*/
$white: #ffffff;
$black: #000000;
$dark: #391400;
$dark-gray: rgba(57, 20, 0, 0.64);
$accent: #EF6D58;
$light-gray: rgba(255, 255, 255, 0.64);
$dark-blue: #28293E;