.features {
    &__list {
        list-style: none;
        margin-top: 24px;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
        &-icon {
            width: 32px;
            height: 32px;
            background: $accent;
            border-radius: 50%;
            margin-right: 16px;
            svg {
                width: 18px;
                height: 14px;
                fill: $white;
            }
        }
    }
}