extends ../layouts/base.pug

block vars
  - var pageTitle = 'Home page'

block svg
  //- svg(style="display: none")
  //-   defs 
  //-     symbol(viewbox="0 0 0 0")#svg-id-to-use
  //-       path

block body
  .container
    h1 Home page
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, consequatur error? Dolor animi iusto molestias autem nam commodi fugiat repellat.
