extends ../layouts/base.pug

block vars
  - var pageTitle = 'Home page'

block svg
  svg(style="display: none")
    defs 
      symbol(viewbox='0 0 32 32')#design-icon
        path(fill-rule='evenodd' clip-rule='evenodd' d='M16 0C16.3784 0 16.7244 0.213767 16.894 0.552318L17.618 2.00133H27C28.6569 2.00133 30 3.34541 30 5.00342V20.0139H2V5.00342C2 3.34541 3.34315 2.00133 5 2.00133H14.38L15.106 0.552318C15.2756 0.213767 15.6216 0 16 0ZM1 22.0153C0.447715 22.0153 0 22.4633 0 23.016C0 23.5687 0.447715 24.0167 1 24.0167H6.72L5.03 30.7794C4.91073 31.3098 5.23643 31.8384 5.76354 31.97C6.29065 32.1016 6.82633 31.788 6.97 31.2637L7.78 28.0195H24.22L25.03 31.2637C25.1737 31.788 25.7094 32.1016 26.2365 31.97C26.7636 31.8384 27.0893 31.3098 26.97 30.7794L25.28 24.0167H31C31.5523 24.0167 32 23.5687 32 23.016C32 22.4633 31.5523 22.0153 31 22.0153H1ZM8.28 26.0181L8.78 24.0167H23.22L23.72 26.0181H8.28Z')
      symbol(viewbox='0 0 32 26')#bag-icon
        path(fill-rule='evenodd' clip-rule='evenodd' d='M13 0C11.3431 0 10 1.34315 10 3V4H3C1.34315 4 0 5.34315 0 7V9.768L15.228 13.828C15.7339 13.9627 16.2661 13.9627 16.772 13.828L32 9.768V7C32 5.34315 30.6569 4 29 4H22V3C22 1.34315 20.6569 0 19 0H13ZM13 2H19C19.5523 2 20 2.44772 20 3V4H12V3C12 2.44772 12.4477 2 13 2ZM3 26C1.34315 26 0 24.6569 0 23V11.7L15.742 15.894C15.911 15.9391 16.089 15.9391 16.258 15.894L32 11.7V23C32 24.6569 30.6569 26 29 26H3Z')
      symbol(viewbox='0 0 12 12')#plus-icon
        path(fill-rule='evenodd' clip-rule='evenodd' d='M7 0H5V5H0V7H5V12H7V7H12V5H7V0Z')
      symbol(viewbox='0 0 48 48')#calendar-icon
        path(fill-rule='evenodd' clip-rule='evenodd' d='M10.5 0C11.3284 0 12 0.671573 12 1.5V3H36V1.5C36 0.671573 36.6716 0 37.5 0C38.3284 0 39 0.671573 39 1.5V3H42C45.3137 3 48 5.68629 48 9V42C48 45.3137 45.3137 48 42 48H6C2.68629 48 0 45.3137 0 42V9C0 5.68629 2.68629 3 6 3H9V1.5C9 0.671573 9.67157 0 10.5 0ZM40.362 9H7.635C6.735 9 6 9.672 6 10.5V13.5C6 14.328 6.732 15 7.635 15H40.365C41.265 15 42 14.328 42 13.5V10.5C42 9.672 41.268 9 40.362 9ZM32.562 24.438C33.1485 25.0245 33.1485 25.9755 32.562 26.562L23.562 35.562C23.2806 35.8441 22.8985 36.0027 22.5 36.0027C22.1015 36.0027 21.7194 35.8441 21.438 35.562L16.938 31.062C16.5586 30.6826 16.4104 30.1296 16.5493 29.6113C16.6882 29.093 17.093 28.6882 17.6113 28.5493C18.1296 28.4104 18.6826 28.5586 19.062 28.938L22.5 32.379L30.438 24.438C31.0245 23.8515 31.9755 23.8515 32.562 24.438Z')
      symbol(viewbox='0 0 18 14')#checkmark-icon
        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 5.9206C2.07075 6.34614 4.734 7.16985 6.75 8.46498C9.11775 5.33446 13.371 2.40598 18 0C13.6042 4.27393 9.96675 9.12365 7.5 14C5.51175 11.2129 3.33975 8.61891 0 5.9206Z')
      symbol(viewbox="0 0 24 22")#star-icon
        path(d='M12 18L4.94658 21.7082L6.29366 13.8541L0.587322 8.2918L8.47329 7.1459L12 0L15.5267 7.1459L23.4127 8.2918L17.7063 13.8541L19.0534 21.7082L12 18Z')
      symbol(viewbox="0 0 12 8")#arrow-down-icon
        path(fill-rule='evenodd' clip-rule='evenodd' d='M5.04535 7.14L0.249351 1.658C-0.316649 1.013 0.143351 3.69899e-07 1.00235 3.69899e-07H10.5944C10.987 -0.000336283 11.3435 0.229148 11.5058 0.586693C11.6681 0.944239 11.6061 1.36367 11.3474 1.659L6.55135 7.139C6.36145 7.35631 6.08694 7.48098 5.79835 7.48098C5.50976 7.48098 5.23525 7.35631 5.04535 7.139V7.14Z')
  //-     symbol(viewbox="0 0 0 0")#svg-id-to-use
  //-       path
  //-     symbol(viewbox="0 0 0 0")#svg-id-to-use
  //-       path
  //-     symbol(viewbox="0 0 0 0")#svg-id-to-use
  //-       path
  //-     symbol(viewbox="0 0 0 0")#svg-id-to-use
  //-       path
  //-     symbol(viewbox="0 0 0 0")#svg-id-to-use
  //-       path
  //-     symbol(viewbox="0 0 0 0")#svg-id-to-use
  //-       path
  //-     symbol(viewbox="0 0 0 0")#svg-id-to-use
  //-       path

block body
  main 
    section.hero 
      .container.hero__container 
        .hero__info 
          h5.hero__suptitle.section__suptitle Gabriel Pires
          h1.hero__title.section__title The Simple, Clean Design
          p.hero__text.section__text.section__text_light Agency provides a full service range including technical skills, design, business understanding.
          a.hero__button.button.button_accent(href="#") See My Work
        img.hero__img(src="./img/hero/hero.png", alt="")
    section.section.section_light.service 
      .container.service__container 
        .service__header.section__header.section__header_center 
          h5.service__suptitle.section__suptitle Service
          h2.service__title.section__title.section__title_dark How I Can Help You With
        .service__row 
          .service__item.service-item 
            .service-item__header 
              .service-item__icon 
                svg 
                  use(href="#design-icon")
              h4.service-item__title Design
            p.service-item__text.section__text.section__text_dark Agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house.
            a.service-item__button(href="#") 
              .service-item__button-icon 
                svg 
                  use(href="#plus-icon")
              |Learn more
          .service__item.service-item 
            .service-item__header 
              .service-item__icon 
                svg 
                  use(href="#bag-icon")
              h4.service-item__title Development
            p.service-item__text.section__text.section__text_dark Hire to outsource your digital marketing efforts, instead of handling in-house can provide your business.
            a.service-item__button(href="#") 
              .service-item__button-icon 
                svg 
                  use(href="#plus-icon")
              |Learn more
        .service__subtitle
          |Want more service?
          a(href="#") Explore Now
    section.section.section_dark.latestwork 
      .container 
        .section__header.section__header_row
          .section__header-col 
            h5.section__suptitle Portfolio
            h2.section__title.section__title_light Latest Work
          a.button.button-o(href="#") Explore More
      .latestwork__row
        a(href="#").latestwork__item 
          img.latestwork__img(src="./img/latest-work/sofa.png", alt="")
          .latestwork__info 
            span.latestwork__category Design
            h3.latestwork__title SOFA
        a(href="#").latestwork__item 
          img.latestwork__img(src="./img/latest-work/keyboard.png", alt="")
          .latestwork__info 
            span.latestwork__category Branding
            h3.latestwork__title KeyBoard
        a(href="#").latestwork__item 
          img.latestwork__img(src="./img/latest-work/work-media.png", alt="")
          .latestwork__info 
            span.latestwork__category Illustration
            h3.latestwork__title Work Media
    section.section.section_light.aboutme 
      .container.flex-sb-c 
        .section__column.section__column_image 
          img(src="./img/about-me/about-me.png", alt="")
        .section__column.section__column_right 
          .section__header.section__header_column 
            h5.section__suptitle Gabriel Pires
            h2.section__title.section__title_dark Professional Web Designer 
          p.section__subtitle.section__subtitle_dark.aboutme__subtitle Provides a full service range
          p.section__text.section__text_dark.aboutme__text Ability to put themselves in the merchant's shoes. It is meant to partner on the long run, and work as an extension of the merchant's team.
          a.button.button_light.aboutme__button(href="#") About me
      .container 
        .aboutme__row 
          .aboutme__item.aboutme-item
            .aboutme-item__icon 
              svg 
                use(href="#calendar-icon")
            .aboutme-item__column 
              h3.aboutme-item__title 42%
              p.aboutme-item__subtitle.section__subtitle.section__subtitle_dark Years of experience
          .aboutme__item.aboutme-item
            .aboutme-item__icon 
              svg 
                use(href="#bag-icon")
            .aboutme-item__column 
              h3.aboutme-item__title 73+
              p.aboutme-item__subtitle.section__subtitle.section__subtitle_dark Projects Done
    section.section.section_dark.features 
      .container.flex-sb-c
        .section__column.section__column_left 
          .section__header.section__header_column 
            h5.section__suptitle Features
            h2.section__title.section__title_light Give Your Site A New Look 
          p.section__subtitle.section__subtitle_light.features__subtitle Service range including technical skills, design, business understanding.
          ul.features__list 
            li.features__item.section__text.section__text_light  
              .features__item-icon.flex-c-c 
                svg 
                  use(href="#checkmark-icon")
              |Range including technical skills
            li.features__item.section__text.section__text_light 
              .features__item-icon.flex-c-c 
                svg 
                  use(href="#checkmark-icon")
              |Business understanding
            li.features__item.section__text.section__text_light  
              .features__item-icon.flex-c-c
                svg 
                  use(href="#checkmark-icon")
              |Partner on the long run
        .section__column.section__column_image
          img(src="./img/features/features.png", alt="")
    section.section.getstarted 
      .container.flex-sb-c.getstarted__container
        img.getstarted__sticker(src="./img/get-started/sticker.svg", alt="")
        .getstarted__header
          p.section__suptitle.getstarted__suptitle Get Started
          h4.getstarted__title I Help Companies Move Faster
          a.button(href="#") Contact me
        .getstarted__column 
          p.section__text.section__text_dark Put themselves in the merchant's shoes. It is meant to partner on the long run.
          .getstarted__image 
            img.getstarted__img(src="./img/get-started/card.png", alt="")
            img.getstarted__img_bg(src="./img/get-started/card-bg.svg", alt="")
    section.section.section_light.reviews 
      .container.flex-col-c 
        .section__header.section__header_center 
          h5.section__suptitle Testimonials
          h2.section__title.section__title_dark What My Clients Saying
        .reviews__row 
          .reviews__item.reviews-item 
            .reviews-item__rating 
              svg 
                use(href="#star-icon")
              svg 
                use(href="#star-icon")
              svg 
                use(href="#star-icon")
              svg 
                use(href="#star-icon")
              svg 
                use(href="#star-icon")
            p.section__text.section__text_dark.reviews-item__text Outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety.
            .reviews-item__row 
              .reviews-item__icon 
                img(src="./img/reviews/graham-griffiths.png", alt="")
              .reviews-item__col
                h4.reviews-item__title Graham Griffiths
                p.reviews-item__subtitle Twitor
          .reviews__item.reviews-item 
            .reviews-item__rating 
              svg 
                use(href="#star-icon")
              svg 
                use(href="#star-icon")
              svg 
                use(href="#star-icon")
              svg 
                use(href="#star-icon")
              svg 
                use(href="#star-icon")
            p.section__text.section__text_dark.reviews-item__text A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions.
            .reviews-item__row 
              .reviews-item__icon 
                img(src="./img/reviews/alan-marti.png", alt="")
              .reviews-item__col
                h4.reviews-item__title Alan Martí
                p.reviews-item__subtitle Meta Inc.
          .reviews__item.reviews-item 
            .reviews-item__rating 
              svg 
                use(href="#star-icon")
              svg 
                use(href="#star-icon")
              svg 
                use(href="#star-icon")
              svg 
                use(href="#star-icon")
              svg 
                use(href="#star-icon")
            p.section__text.section__text_dark.reviews-item__text Provide your business with a variety of digital solutions to promote your product or service online.
            .reviews-item__row 
              .reviews-item__icon 
                img(src="./img/reviews/richardo-kann.png", alt="")
              .reviews-item__col
                h4.reviews-item__title Richardo Kann
                p.reviews-item__subtitle Photogram
        a.button.button_light.reviews__button(href="#") See all
    section.section.section_dark.faq 
      .container.flex-jc-s
        .section__column 
          .section__header.section__header_column 
            h5.section__suptitle Faq
            h2.section__title.section__title_small Frequently Asked Questions
          p.section__text.section__text_light.faq__text A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house.
          a.section__link(href="#") Contact me
        .section__column.section__column_big
          .faq__tabs.faq-tabs 
            .faq-tabs__item
              .faq-tabs__header 
                h4.faq-tabs__title A digital agency is a business
                a.faq-tabs__button.flex-c-c(href="#") 
                  svg 
                    use(href="#arrow-down-icon")
              p.faq-tabs__text Digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you hit your marketing goals and grow your business.
            .faq-tabs__item
              .faq-tabs__header 
                h4.faq-tabs__title Hire to outsource your digital
                a.faq-tabs__button.flex-c-c(href="#") 
                  svg 
                    use(href="#arrow-down-icon")
              p.faq-tabs__text Digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you hit your marketing goals and grow your business.
            .faq-tabs__item
              .faq-tabs__header 
                h4.faq-tabs__title Marketing efforts
                a.faq-tabs__button.flex-c-c(href="#") 
                  svg 
                    use(href="#arrow-down-icon")
              p.faq-tabs__text Digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you hit your marketing goals and grow your business.
            .faq-tabs__item
              .faq-tabs__header 
                h4.faq-tabs__title Can provide your business
                a.faq-tabs__button.flex-c-c(href="#") 
                  svg 
                    use(href="#arrow-down-icon")
              p.faq-tabs__text Digital marketing efforts, instead of handling in-house. They can provide your business with a variety of digital solutions to promote your product or service online and help you hit your marketing goals and grow your business.
      .container.flex-sb-c.partners-row 
        img.partners-row__image(src="./img/faq/1.png", alt="")
        img.partners-row__image(src="./img/faq/2.png", alt="")
        img.partners-row__image(src="./img/faq/3.png", alt="")
        img.partners-row__image(src="./img/faq/4.png", alt="")
        img.partners-row__image(src="./img/faq/5.png", alt="")
    section.section.section_light.blog 
      .container 
        .section__header.section__header_row.blog-header 
          .section__header-col
            h5.section__suptitle Our Blog
            h2.section__title.section__title_dark Latest Blog Articles
          a(href="#").button.button_light.blog-header__button Discover all
        .blog__container 
          .blog__main 
            .blog__item.blog-item
              .blog-item__image
                img(src="./img/blog/1.png", alt="")
              p.blog-item__suptitle.section__subtitle.section__subtitle_dark Stories 
              a(href="#")
                h3.blog-item__title Agency is a business you hire to outsource
              p.blog-item__date.section__text.section__text_dark 5 Nov, 2021
          .blog__column 
            .blog__item.blog-item
              .blog-item__image
                img(src="./img/blog/2.png", alt="")
              p.blog-item__suptitle.section__subtitle.section__subtitle_dark Design 
              a(href="#")
                h4.blog-item__title Outsource your digital marketing efforts
              p.blog-item__date.section__text.section__text_dark 29 Oct, 2021
            .blog__item.blog-item
              .blog-item__image
                img(src="./img/blog/3.png", alt="")
              p.blog-item__suptitle.section__subtitle.section__subtitle_dark Marketing 
              a(href="#")
                h4.blog-item__title Your business with a variety of digital
              p.blog-item__date.section__text.section__text_dark 21 Oct, 2021
        hr.blog__hr
        .subscribe.flex-sb-c
          .subscribe__col.subscribe__col_small
            h4.subscribe__title Newsletter
            p.subscribe__subtitle.section__text.section__text_dark A digital agency is a business you hire to outsource
          .subscribe__col.subscribe__col_row 
            input.subscribe__input.input(type="text" placeholder="Your email")
            a.subscribe__button.button.button_light(href="#") Subscribe
    section.section.section_dark.contact 
      .container.flex-sb-c 
        form.contact-form(action="") 
          h4.contact-form__title Get In Touch
          input.input.contact-form__input(type="text" placeholder="Your email" name="email")
          input.input.contact-form__input(type="text" placeholder="Subject" name="subject")
          textarea.input.contact-form__input(name="message", cols="0", rows="3" placeholder="Message")
          a.button.button_accent.contact-form__button(href="#") Submit now
        .section__column 
          .section__header.section__header_column 
            h5.section__suptitle Contact
            h2.section__title.section__title_light Contact Me
          p.section__text.section__text_light A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house.
          ul.contact__list 
            li.contact__item 
              .contact__item-icon 
                img(src="./img/icons/compass-icon.svg", alt="")
              |2247 Lunetta Street, TX 76301
            li.contact__item 
              .contact__item-icon 
                img(src="./img/icons/phone-icon.svg", alt="")
              |+1 (234) 567-89-00
            li.contact__item 
              .contact__item-icon 
                img(src="./img/icons/email-icon.svg", alt="")
              |info@agency.com








