footer.footer
  .container.footer__container 
    .footer__column 
      a.logo.footer__logo(href="index.html") Personal
    .footer__column 
      h5.footer__title Menu
      nav.footer__nav 
        ul.footer__list
          li.footer__item
            a.footer__link(href="#") About
          li.footer__item
            a.footer__link(href="#") Services
          li.footer__item
            a.footer__link(href="#") Blog
          li.footer__item
            a.footer__link(href="#") Contact
    .footer__column 
      h5.footer__title Service
      nav.footer__nav 
        ul.footer__list
          li.footer__item
            a.footer__link(href="#") Design
          li.footer__item
            a.footer__link(href="#") Development
          li.footer__item
            a.footer__link(href="#") Marketing
          li.footer__item
            a.footer__link(href="#") See More
    .footer__column.footer__column_flex 
      a(href="https://www.facebook.com/").footer__social 
        svg 
          use(href="#facebook-icon")
      a(href="https://www.twitter.com/").footer__social 
        svg 
          use(href="#twitter-icon")
      a(href="https://www.instagram.com/").footer__social 
        svg 
          use(href="#instagram-icon")
  
  .container 
    hr.footer__hr
  
  .container.footer__bottom 
    p.footer__copyright.section__text.section__text_light Copyright © 2022 Laaqiq. All Rights Reserved.
    a.footer__link(href="#") Terms of Use   
    a.footer__link(href="#") Privacy Policy   